/* Style Page Content */
#main {
    transition: margin-left .5s;
    padding: 20px;
    overflow: hidden;
    width: 150%;
    left: 0;
    margin-left: -17rem;
}

/* ########################################### */
/*                @media PETITE                */
/* ########################################### */
@media (max-width: 767px) {
  .carouselDiv {
    margin-top: 2rem;
  }
  #main {
    margin-left: -1rem;
    margin-right: 5rem;
    width: 100%;
  }
}

/* ########################################### */
/*             @media NORMAL SMALL             */
/* ########################################### */
@media (min-width: 374px) and (max-width: 668px) {
  #main {
    margin-left: 0.2rem;
  }
}

/* ########################################### */
/*                @media NORMAL                */
/* ########################################### */
@media (min-width: 767px) and (max-width: 1024px) {
  #main {
    margin-left: 2rem;
    width: 90%;
  }
}
