p {
  font-family: 'Pontano Sans', sans-serif;
}

/* Style of the text: Nuestros Servicios / Els Nostres Serveis */
.ourServices {
  text-align: center;
  color: red;
  font-family: 'Pontano Sans', sans-serif;
  margin-top: 1rem;
}

/* Rectangle's Father */
.rectangleRedFather {
  text-align: center;
}

/* Rectangle red in down of the Nuestros Servicios text */
.rectangleRedDaughter {
  width: 7rem;
  height: 0.8rem;
  text-align: center;
  background-color: red;
  border: 1px solid red;
  display: inline-block;
}

/* Rectangle's Father 2 Divs */
.rectangleRedFather2 {
  text-align: center;
  margin-right: 3rem;
}
.rectangleRedFather2_1 {
  text-align: center;
}
.rectangleRedFather2_2 {
  text-align: center;
  margin-left: -1.8rem;
}
.rectangleRedFather2_3 {
  text-align: center;
  margin-left: 0.5rem;
}

/* Rectangle 2 red in down of each image */
.rectangleRedDaughter2 {
  width: 4rem;
  height: 0.8rem;
  text-align: center;
  background-color: red;
  border: 1px solid red;
  display: inline-block;
}

/* The text below the rectangle */
.divTextRectangle {
  margin-bottom: 0.5rem;
}

/* Styles of the Col DIVs */
.col1 {
  margin-left: -9.75rem;
  display: inline-block;
}
.col2 {
  margin-left: 6rem;
  display: inline-block;
  margin-top: -10rem;
}
.col3 {
  margin-left: 7.5rem;
  display: inline-block;
}
.col4 {
  margin-left: 8rem;
  display: inline-block;
  margin-right: -10rem;
}

/* Style of the Div Circles */
.divRowCircles {
  margin-top: 2rem;
  margin-left: 10.5rem;
  top: 0;
  margin-bottom: 2rem;
}

/* Style of the circle with all the .png images */
.borderCircle {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  border: 2px solid black;
  text-align: center;
  display: flex;
  align-items: center;
}

/* Style of the 1st Image: redHouse.png */
#redHouse {
  width: 80%;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
}

/* Style of the 1st Image: redPaper.png */
#redPaper {
  width: 135%;
  margin-left: -1.5rem;
}

/* Style of the 1st Image: redWater.png */
#redWater {
  width: 90%;
  margin-left: 0.5rem;
}

/* Style of the 1st Image: redGear.png */
#redGear {
  width: 60%;
  margin-left: 1.78rem;
}

/* ########################################### */
/*                @media PETITE                */
/* ########################################### */
@media (max-width: 767px) {
  .borderCircle {
    width: 6rem;
    height: 6rem;
    display: block;
  }
  .col1 {
    margin-left: -3rem;
  }
  .rectangleRedFather2 {
    margin-left: -2.25rem;
  }
  .col2 {
    margin-left: -3rem;
    margin-top: 0.25rem;
  }
  .rectangleRedFather2_1 {
    margin-left: -2.10rem;
  }
  .col3 {
    margin-left: -3rem;
  }
  .rectangleRedFather2_2 {
    margin-left: -3.5rem;
  }
  .col4 {
    display: none;
  }
}

/* ########################################### */
/*                @media Ipad                  */
/* ########################################### */
@media (min-width: 767px) and (max-width: 1025px) {
  .col1 {
    margin-left: -7rem;
  }
  .col2 {
    margin-left: 0;
  }
  .col3 {
    margin-left: 4rem;
  }
  .col4 {
    margin-left: 1.5rem;
  }
}

/* ########################################### */
/*              @media Ipad Pro                */
/* ########################################### */
@media (min-width: 767px) and () {
  .col1 {
    margin-left: -4rem;
  }
  .col3 {
    margin-left: -4rem;
  }
}



/* ########################################### */
/*                @media BIG                   */
/* ########################################### */
@media (min-width: 768px) {
  .divRowCircles {
    display: block;
  }
}
