/* The Div of the Search Box */
.search-box {
  position: absolute;
  background: #FF5E5E;
  border-radius: 40px;
  padding: 10px;
  right: 0;
  top: 0;
  height: 40%;
  margin-top: 1rem;
}

/* The Button of the Search */
.search-btn {
  color: #8492A6;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #FF5E5E;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.4s;
}

/* The Text of the Search */
.search-txt {
  border:none;
  background:none;
  outline:none;
  float:left;
  padding:0;
  color: #fff;
  font-size:16px;
  transition : 0.7s;
  line-height: 40px;
  width : 0px;
  margin-bottom: 5rem;
}

/* EFFECTS */
.search-box:hover > .search-txt{
  width: 16rem;
  margin-left: 1rem;
  margin-right: 0.5rem;
}
.search-box:hover > .search-btn {
 background:white;
}

/* ########################################### */
/*                @media SMALL                 */
/* ########################################### */
@media (max-width: 768px) {
  .search-box {
    display: none;
  }
}

/* ########################################### */
/*                @media BIG 2                 */
/* ########################################### */
@media (min-width: 767px) and (max-width: 1367px) {
  .search-box {
    display: none;
  }
}
