/* Container Div of all the Container Page*/
.containerDiv {
	margin-top: 2rem;
	margin-right: 2rem;
	margin-left: 2rem;
	margin-bottom: 1rem;
}

/* Container Div2 of all the Container2 Page*/
.containerDiv2 {
	margin-top: 2rem;
	margin-right: 2rem;
	margin-left: 2rem;
	margin-bottom: -3rem;
	border-top: 1px solid black;
}

/* Container Div3 of all the Container3 Page*/
.containerDiv3 {
	margin-left: 7rem;
	margin-bottom: -3rem;
	z-index: 1;
}

/* The size/decoration of the Title and the hover of it */
.titleLogo {
	font-size: 4rem;
	color: red;
	text-decoration: none;
}
.titleLogo:hover {
	text-decoration: none;
	color: red;
}

/* Only the text decoration of the Title Logo from the SlideBar */
.titleLogoSlideBar:hover {
	text-decoration: none;
	color: red;
}

/* The Part of the top right of the page (telephone, language, whatsapp image) */
.telephoneNumber {
	font-size: 1.3rem;
	color: red;
	display: inline-block;
}

/* The Logo of the Whatsapp Red */
#logoWhatsAppRed {
	width: 5%;
	display: inline-block;
	margin-bottom: 0.8rem;
}

.topRightContent, .aTextDecoration {
	font-size: 1.3rem;
	color: red;
	text-decoration: none;
	display: inline-block;
}

/* The text decoration of the | at the language */
.aTextDecorationBar {
	font-size: 150%;
	color: red;
	display: inline-block;
}

.aTextDecoration:hover {
	text-decoration: none;
	color: red;
}

/* Separation of the div headers in top */
.divHeader1{
	display: inline-block;
	text-align: left;
}

.divHeader2 {
	margin-top: 1rem;
	display: inline-block;
	text-align: right;
}

/* Style of the Header Div */
.firstDivHeader {
	display: flex;
	justify-content: space-between;
	font-family: 'Nunito Sans', sans-serif;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#spanHeader1 {
	display: inline-block;
	right: 0;
	margin-left: 70rem;
	margin-top: 1.65rem;
}

/* NavBar Original */
.navbar {
	font-family: 'Nunito Sans', sans-serif;
  width: 100%;
	text-align: left;
  align-items: center;
	margin-top: 1rem;
  padding: 0.4rem;
  background-color: white;
}
.navbar .nav-list {
  padding: 2rem 0;
  list-style-type: none;
  text-align: left;
  overflow: hidden;
}
.nav-list li {
  margin: 1rem 0;
  letter-spacing: 0.1rem;
}
.nav-list li a {
  display: block;
  text-decoration: none;
  padding: 0.4rem;
  color: inherit;
}
.nav-list2 li {
  margin: 1rem 0;
  letter-spacing: 0.1rem;
}
.nav-list2 li a {
  display: block;
  text-decoration: none;
  padding: 0.4rem;
  color: inherit;
}

/* Toggler Button */
.navbar .toggler {
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 100;
  outline: none;
}

/* Hamburger */
.toggler .line {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #222;
  margin-bottom: 0.4rem;
  transition: 0.4s;
}

/* Close Icon */
.cross .line:nth-child(1) {
  transform: rotate(-45deg) translate(-9px, 6px);
}
.cross .line:nth-child(2) {
  opacity: 0;
}
.cross .line:nth-child(3) {
  transform: rotate(45deg) translate(-7px, -5px);
}

/* ########################################### */
/*                @media PETITE                */
/* ########################################### */
@media (max-width: 767px) {
  /* Hide Nav by transform */
  .nav-list-container {
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
		font-size: 1rem;
    background-color: red;
    z-index: 99;
    transform: translateX(-100%);
    transition: all 0.5s linear;
    opacity: 0.5;
		padding-left: 2.5rem;
		padding-top: 1rem;
		color: white;
  }
	.nav-list{
		padding: -1rem;
		margin-top: 2rem;
	}
	.containerDiv {
		display: none;
	}
	/* Changing the Border when the Page changes in mobile */
	.containerDiv2 {
		border-top: 0px solid black;
	}
	.titleLogoSlideBar {
		text-decoration: none;
		display: inline-block;
		color: red;
		z-index: 100;
		margin-left: 5.2rem;
		margin-top: 3rem;
	}
	#main {
		margin-top: -3rem;
	}
	.appartButton {
		display: block;
	}
	.phoneText, .copyrightText, .addressText {
		font-size: 50%;
	}
}

/* ########################################### */
/*             @media ULTRA PETITE             */
/* ########################################### */
@media (max-width: 281px) {
	.titleLogoSlideBar {
		text-decoration: none;
		color: red;
		font-size: 70%;
		font-family: 'Nunito Sans', sans-serif;
	}
}

/* ########################################### */
/*                @media BIG                   */
/* ########################################### */
@media (min-width: 767px) {
	/* NavBar */
  .navbar {
		text-align: left;
    padding: 0.4rem 0;
  }
	/* The List Container of the Nav */
	.nav-list-container {
		text-align: left;
		color: red;
		margin-top: -1rem;
	}
	/* A class of only a Display inline block */
	.displayInBlock {
		display: inline-block;
		text-align: left;
	}
  /* Making the Nav-List horizontal on Big Screens */
  .navbar .nav-list {
		text-align: left;
  }
	.nav-list {
		margin-top: 0.5rem;
		margin-bottom: 2.5rem;
	}
  .nav-list li {
    margin: 0 0.3rem;
  }
  /* Hide Toggler Button on Big Screens*/
  .navbar .toggler {
    display: none;
  }
	.titleLogoSlideBar {
		display: none;
	}
	/* Style of the Second Header Div */
	.secondDivHeader {
		display: flex;
		justify-content: space-between;
		font-family: 'Nunito Sans', sans-serif;
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}
	/* The LOGIN and REGISTER Buttons in the Slide NavBar */
	.appartButton {
		display: none;
	}
	.logoutLoginButton2 {
		display: none;
	}
}

/* ########################################### */
/*                @media BIG 2                 */
/* ########################################### */
@media (min-width: 767px) and (max-width: 1367px) {
	/* Hide Nav by transform */
  .nav-list-container {
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
		margin-left: -1rem;
		font-size: 3rem;
    background-color: red;
    z-index: 99;
    transform: translateX(-100%);
    transition: all 0.5s linear;
    opacity: 0.5;
		padding-left: 2.5rem;
		padding-top: 1rem;
		color: white;
		display: block;
  }
	/* To view the menu like a list, of top to bottom */
	.displayInBlock {
		display: block;
	}
	.nav-list{
		padding: -1rem;
		margin-top: 2.5rem;
	}
	.navbar .toggler {
    display: block;
  }
	.containerDiv {
		display: none;
	}
	/* Changing the Border when the Page changes in mobile */
	.containerDiv2 {
		border-top: 0px solid black;
	}
	.titleLogoSlideBar {
		text-decoration: none;
		display: inline-block;
		color: red;
		z-index: 100;
		margin-left: 12rem;
		margin-top: 3rem;
		font-family: 'Nunito Sans', sans-serif;
		font-size: 5rem;
	}
	#main {
		margin-top: -3rem;
	}
	.appartButton {
		display: block;
	}
	.carouselDiv {
		margin-top: 3rem;
	}
	.containerDiv2 {
		display: block;
	}
	#spanHeader1 {
		display: none;
	}
}

/**********************************************************/
/* THINGS THAT ARE NEED TO BE AT THE END OF THE DOCUMENT  */
/**********************************************************/

/* Make Nav visible by Transform */
.nav-active {
  transform: translateX(0%);
  opacity: 1;
}

/* The General Footer Style */
footer {
  color: white;
  background-color: red;
  width: 100%;
  height: 81px;
  bottom: 0;
  left: 0;
}

/* Text Align of the Footer */
.textCenterDiv {
	display: flex;
	justify-content: space-between;
	padding: 2rem;
}
.phoneText {
	display: inline-block;
}
.copyrightText {
	display: inline-block;
}
.addressText {
	display: inline-block;
}
